<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
</head>
<body>
	<div>
			<h2>registration</h2> 		
	</div>

	<a href="/login">Back</a> |
	<a href="/logout">Logout</a><br>
	
	<form method="post">
		<table>
			<tr>
				<td>ID: </td>
				<td><input type="text" readonly name="id"></td>
			</tr>
			<tr>
				<td>Username: </td>
				<td><input type="text" name="uname"></td>
			</tr>
			<tr>
				<td>Contact no: </td>
				<td><input type="text" name="contno"></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type="text" name="password"></td>
			</tr>
			<tr>
				<td><input type='radio' name='type' value='admin'>Admin</td>
				<td><input type='radio' name='type' value='scout'>Scout</td>
				<td><input type='radio' name='type' value='generaluser'>Generaluser</td>
			</tr>
			
			<tr>
				<td></td>
				<td>
					<input type="submit" name="" value="Register"> 
				</td>
			</tr>
		</table>
	</form>


</body>
</html>